*{
    box-sizing: border-box;
}
.first-task, .second-task{
    display: block;
    padding: 35px;
    background-color: rgb(248, 188, 97);
    margin-bottom: 15px;
}
.output-block p{
    font-family: sans-serif;
}